In [68]:
%run "C:\Users\amayaa\OneDrive - John Keells Holdings PLC\Desktop\sampleuc\src\common\utils\runscipt.ipynb"

In [70]:
%run "C:\Users\amayaa\OneDrive - John Keells Holdings PLC\Desktop\sampleuc\src\model\run_scripts.ipynb"

In [72]:

def check_missing_values(df):
    """
    This function takes a Spark DataFrame as input and returns a DataFrame
    containing the count of missing values for each column.

    Args:
        df (pyspark.sql.DataFrame): Input DataFrame to check for missing values.

    Returns:
        pyspark.sql.DataFrame: DataFrame with columns "Column" and "MissingValuesCount".
    """
    # Select the columns to check for missing values
    columns = df.columns
    
    # Create an empty list to store the results
    missing_values = []
    
    # Loop through each column and count the missing values
    for column in columns:
        missing_count = df.select(f.sum(f.col(column).isNull().cast("int")).alias("missing_count")).collect()[0]["missing_count"]
        missing_values.append((column, missing_count))
    
    # Create a new DataFrame with the results
    missing_values_df = spark.createDataFrame(missing_values, ["Column", "MissingValuesCount"])
    
    return missing_values_df

In [74]:
conf=get_conf()
#logger = set_logging_conf(conf)
transaction_df=get_transaction_info(conf) #getting trasaction table from conf
item_df=get_item_info(conf) #getting item table from conf
store_df=get_store_info(conf) #getting store table from conf
preprocess_transaction_df=preprocess_transaction(conf,transaction_df) 
preprocess_store_info_df=preprocess_store_info(store_df)
preprocess_item_info_df=preprocess_item_info(conf,item_df)
#top_5_categories=top_5_categories(preprocess_transaction_df, preprocess_item_info_df)
weekly_sales_df=weekly_sales_df(preprocess_transaction_df, preprocess_item_info_df)
week_df=get_week_df(preprocess_transaction_df)
outlet_df=outlets_df(preprocess_store_info_df)

In [79]:
preprocess_transaction_df.show()

+-------------+-----------+----------+---------+----------+
|stg_outlet_cd|stg_item_cd|   DATE_ID|sales_qty|      week|
+-------------+-----------+----------+---------+----------+
|            B|       6163|2022-01-27|     12.0|2022-01-21|
|            C|     107836|2022-01-25|      5.0|2022-01-21|
|            B|     118429|2022-01-22|      1.0|2022-01-21|
|            B|     101635|2022-01-26|      5.0|2022-01-21|
|            C|       8800|2022-01-25|     14.0|2022-01-21|
|            A|        898|2022-01-25|      3.0|2022-01-21|
|            A|      13948|2022-01-26|      3.0|2022-01-21|
|            C|       3679|2022-01-22|      7.0|2022-01-21|
|            A|      11509|2022-01-25|      9.0|2022-01-21|
|            C|        898|2022-01-26|    144.0|2022-01-21|
|            C|       8800|2022-01-27|     17.0|2022-01-21|
|            C|     122767|2022-01-25|      1.0|2022-01-21|
|            A|     115846|2022-01-23|     10.0|2022-01-21|
|            C|      10852|2022-01-22|      1.0|2022-01-21|
|            C|     115846|2022-01-27|      4.0|2022-01-21|
|            B|      11509|2022-01-24|      2.0|2022-01-21|
|            C|     124414|2022-01-22|      3.0|2022-01-21|
|            B|      18223|2022-01-22|    111.0|2022-01-21|
|            C|       6748|2022-01-22|      4.0|2022-01-21|
|            C|      29653|2022-01-24|      9.0|2022-01-21|
+-------------+-----------+----------+---------+----------+
only showing top 20 rows

In [81]:
 # Select the columns to check for missing values
columns = preprocess_transaction_df.columns
    
    # Create an empty list to store the results
missing_values = []
    
    # Loop through each column and count the missing values
for column in columns:
    missing_count = preprocess_transaction_df.select(f.sum(f.col(column).isNull().cast("int")).alias("missing_count")).collect()[0]["missing_count"]
    missing_values.append((column, missing_count))
    
    # Create a new DataFrame with the results
missing_values_df = spark.createDataFrame(missing_values, ["Column", "MissingValuesCount"])

# statistics of each table

In [52]:
def get_stats(df):
    """
    This function takes a Spark DataFrame as input and prints basic statistics
    for each numerical column in the DataFrame.

    Args:
        df (pyspark.sql.DataFrame): Input DataFrame to compute statistics.

    Returns:
        pyspark.sql.DataFrame: DataFrame containing the statistics.
    """
    # Compute basic statistics
    stats_df = df.describe()
    return stats_df

In [56]:
transaction_stats=get_stats(preprocess_transaction_df)
transaction_stats.show()

+-------+-------------+------------------+----------+-------------------+
|summary|stg_outlet_cd|       stg_item_cd|   DATE_ID|          sales_qty|
+-------+-------------+------------------+----------+-------------------+
|  count|        94513|             94513|     94513|              94513|
|   mean|         NULL|60069.547522563036|      NULL|  5.529140816768338|
| stddev|         NULL| 47431.08734397359|      NULL| 13.928725119113183|
|    min|            A|            100024|2022-01-22|0.03400000184774399|
|    max|            C|              9979|2022-10-18|               99.0|
+-------+-------------+------------------+----------+-------------------+

In [60]:
store_stats=get_stats(preprocess_store_info_df)
store_stats.show()

+-------+-------------+----------------------+---------------------------+-----------------------------+-----------------------------+-----------------------------+--------------------------------+----------------------+----------------------+
|summary|stg_outlet_cd|stg_outlet_area_ft_val|stg_outlet_parking_lots_num|stg_population_within_1km_val|stg_population_within_2km_val|stg_population_within_3km_val|stg_no_of_compet_supermarket_val|stg_outlet_profile_cat|stg_outlet_cluster_cat|
+-------+-------------+----------------------+---------------------------+-----------------------------+-----------------------------+-----------------------------+--------------------------------+----------------------+----------------------+
|  count|            3|                     3|                          3|                            3|                            3|                            3|                               3|                     3|                     3|
|   mean|         NULL|               12025.0|         47.666666666666664|           24139.666666666668|            73317.33333333333|                     103010.0|              1.3333333333333333|                  NULL|                  NULL|
| stddev|         NULL|      2185.32034265002|          5.859465277082315|             9674.65711709378|            30192.85038437632|            45519.64239754087|              1.1547005383792517|                  NULL|                  NULL|
|    min|            A|                 10150|                         41|                        13074|                        40343|                       151628|                               0|                  High|                 Large|
|    max|            C|                 14425|                         52|                        31000|                        99609|                        96000|                               2|              Moderate|                Medium|
+-------+-------------+----------------------+---------------------------+-----------------------------+-----------------------------+-----------------------------+--------------------------------+----------------------+----------------------+

In [64]:
item_stats=get_stats(preprocess_item_info_df)
item_stats.show()

+-------+-----------------+-----------------------------+-------------------------+--------------------------+--------------------------+----------------------+
|summary|      stg_item_cd|stg_item_sub_segment_desc_txt|stg_item_segment_desc_txt|stg_item_category_desc_txt|stg_item_sub_dept_desc_txt|stg_item_dept_desc_txt|
+-------+-----------------+-----------------------------+-------------------------+--------------------------+--------------------------+----------------------+
|  count|            17381|                        17381|                    17381|                     17381|                     17381|                 17381|
|   mean|581475.0612998097|                         NULL|                     NULL|                      NULL|                      NULL|                  NULL|
| stddev| 429175.027371924|                         NULL|                     NULL|                      NULL|                      NULL|                  NULL|
|    min|           100024|                       2 in 1|                   Almond|               Accessories|                Baby Foods|             Beverages|
|    max|             null|                       spread|                    Yeast|                     Wines|                   Yoghurt|               Grocery|
+-------+-----------------+-----------------------------+-------------------------+--------------------------+--------------------------+----------------------+