In [11]:
%run "C:\Users\amayaa\OneDrive - John Keells Holdings PLC\Desktop\sampleuc\src\common\utils\runscipt.ipynb"

In [13]:
%run "C:\Users\amayaa\OneDrive - John Keells Holdings PLC\Desktop\sampleuc\src\model\run_scripts.ipynb"

In [15]:
def calculate_monthly_sales_stats(weekly_sales):
    """
    Calculates monthly sales statistics from the input DataFrame.
        Args:
        weekly_sales: Input DataFrame containing sales data.

    Returns:
        pyspark.sql.DataFrame: DataFrame with aggregated monthly sales statistics.
    """
    transaction_with_month_week = extract_month_year_week(final_df)
    
    # Calculate monthly sales stats
    monthly_sales_stats = (transaction_with_month_week
                           .groupBy("year", "month")
                           .agg(f.sum("weekly_sales_qty").alias("total_sales_qty"))
                           )
    
    return monthly_sales_stats

In [17]:
conf=get_conf()
#logger = set_logging_conf(conf)
transaction_df=get_transaction_info(conf) #getting trasaction table from conf
item_df=get_item_info(conf) #getting item table from conf
store_df=get_store_info(conf) #getting store table from conf
preprocess_transaction_df=preprocess_transaction(conf,transaction_df) 
preprocess_store_info_df=preprocess_store_info(store_df)
preprocess_item_info_df=preprocess_item_info(conf,item_df)
#top_5_categories=top_5_categories(preprocess_transaction_df, preprocess_item_info_df)
weekly_sales_df=weekly_sales_df(preprocess_transaction_df, preprocess_item_info_df)
week_df=get_week_df(preprocess_transaction_df)
outlet_df=outlets_df(preprocess_store_info_df)
top_15_cat_df=get_final_categories(preprocess_transaction_df, preprocess_item_info_df)
primary_key_table_df=create_primary_key_table(week_df, top_15_cat_df, outlet_df)

In [21]:
primary_key_with_weekly_sales_df=primary_key_with_weekly_sales(primary_key_table_df,weekly_sales_df)
extract_month_year_week_df=extract_month_year_week(primary_key_with_weekly_sales_df)
time_features_df=create_seasonal_column(primary_key_with_weekly_sales_df)

Columns in primary_key_table: ['week', 'stg_item_category_desc_txt', 'stg_outlet_cd']

In [25]:
monthly_sales_2=extract_month_year_week_df.groupBy(
                       "year", "month"
                       ).agg( # Removed extra space here
                       f.sum("weekly_sales_qty").alias("total_sales_qty")
                       )
monthly_sales_2.show()

+----+-----+------------------+
|year|month|   total_sales_qty|
+----+-----+------------------+
|2022|   10|10508.861000031233|
|2022|    2|28081.379001647234|
|2022|    7| 36735.84599879384|
|2022|    3| 28912.29400008917|
|2022|    1|13826.004998743534|
|2022|    5| 31567.19600945711|
|2022|    6| 29946.16100296378|
|2022|    9| 31609.56900011003|
|2022|    4|38874.860001951456|
|2022|    8|25970.251001417637|
+----+-----+------------------+

From above table can see that 4th month has the highest values of sales because of that 4th month is taken as seasonal(1) and other months are not seasonal months(0)

In [23]:
time_features_df.show()

+----------+--------------------------+-------------+----------------+-----+----+------------+-----------+
|      week|stg_item_category_desc_txt|stg_outlet_cd|weekly_sales_qty|month|year|week_of_year|is_seasonal|
+----------+--------------------------+-------------+----------------+-----+----+------------+-----------+
|2022-02-25|             Cheese Slices|            B|            11.0|    2|2022|           8|          0|
|2022-02-25|             Cheese Slices|            C|            14.0|    2|2022|           8|          0|
|2022-02-25|             Cheese Slices|            A|             0.0|    2|2022|           8|          0|
|2022-07-15|             Cheese Slices|            B|             3.0|    7|2022|          28|          0|
|2022-07-15|             Cheese Slices|            C|             5.0|    7|2022|          28|          0|
|2022-07-15|             Cheese Slices|            A|             2.0|    7|2022|          28|          0|
|2022-07-29|             Cheese Slices|            B|             6.0|    7|2022|          30|          0|
|2022-07-29|             Cheese Slices|            C|             1.0|    7|2022|          30|          0|
|2022-07-29|             Cheese Slices|            A|             1.0|    7|2022|          30|          0|
|2022-05-06|             Cheese Slices|            B|             7.0|    5|2022|          18|          0|
|2022-05-06|             Cheese Slices|            C|             4.0|    5|2022|          18|          0|
|2022-05-06|             Cheese Slices|            A|             0.0|    5|2022|          18|          0|
|2022-03-11|             Cheese Slices|            B|            14.0|    3|2022|          10|          0|
|2022-03-11|             Cheese Slices|            C|            23.0|    3|2022|          10|          0|
|2022-03-11|             Cheese Slices|            A|             0.0|    3|2022|          10|          0|
|2022-08-12|             Cheese Slices|            B|             8.0|    8|2022|          32|          0|
|2022-08-12|             Cheese Slices|            C|             6.0|    8|2022|          32|          0|
|2022-08-12|             Cheese Slices|            A|             0.0|    8|2022|          32|          0|
|2022-07-01|             Cheese Slices|            B|             2.0|    7|2022|          26|          0|
|2022-07-01|             Cheese Slices|            C|             8.0|    7|2022|          26|          0|
+----------+--------------------------+-------------+----------------+-----+----+------------+-----------+
only showing top 20 rows